{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<div class="row pt-3">
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'map.png' %}" height="80" width="80" align="center">
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'biking.png' %}" height="80" width="80" align="center">
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'mountain.png' %}" height="80" width="80" align="center">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <a class="icon-item icon-link">
    Near Me
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link">
    Bicycling
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link">
    Difficulty
    </a>
  </div>
</div>

<div class="row pt-6">
  <div class="col-3">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'open.png' %}" height="80" width="80">
    </a>
  </div>
  <div class="col-3">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'parking.png' %}" height="80" width="80">
    </a>
  </div>
  <div class="col-3">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'pet.png' %}" height="80" width="80">
    </a>
  </div>
  <div class="col-3">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'picnic.png' %}" height="80" width="80">
    </a>
  </div>
</div>

<div class="row pt-3">
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'toilet.png' %}" height="80" width="80">
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'waterfountain.png' %}" height="80" width="80">
    </a>
  </div>
  <div class="col-4">
    <a class="icon-item icon-link" href="http://agis.maps.arcgis.com/apps/webappviewer/index.html?id=0d2dbe2ce2144e069bae6d91174b375c">
      <img src="{% static 'wifi.png' %}" height="80" width="80">
    </a>
  </div>
</div>

{% endblock %}
